@charset "utf-8";
/* CSS Document */
.body { 
/*font-family: OCR A Std;
/*font-family:Segoe Print;*/
/*font-size: 18px;
//color: chocolate;*/
background-image:url(nY.jpeg); 
background-attachment:fixed;
background-repeat:no-repeat;

background-resize:;
background-position:!important;
background-attachment:fixed;
/*text-align: center;*/
}
.bbody {
	font : 12px/17px tahoma, arial;
	/*background-color:#CCC;*/
	background :rgba(185,185,185, 0.5);
	text-align : center;
	border-radius:9px;
}
.input {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button {
    padding:5px 15px; 
    background:#CFC; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.buttonC {
    padding:5px 15px; 
    background:#FCC; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}